<h1>New Topic</h1>

<div class="new-row">
  <div class="guidelines">
    <h2> Guidelines for posting on Jimmidit </h2>
    <ul>
      <li> Freedom of speech does not mean freedom of consequences.</li>
      <li> BNBR. Be nice be respectful to your fellow posters </li>
    </ul>
  </div>

  <div class="new-post">
    <%= render partial: 'form', locals: {topic: @topic} %>
  </div>
</div>
