<div>
  <%= render partial: 'votes/voting', locals: { post: @post } %>
  <h2>
    <%= @post.title %> <br>
    <small>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>
  </h2>
</div>
