.welcome-message {
  text-align: center;
  font-size: 3rem;
}

.missions {
  text-align: center;
}

.social-media {
   text-align: center;
   color: black;
   border: 1px solid black;
   border-radius: 2px;
   padding: 5px 20px 5px 20px;
   background-color: #FFFFFF;
   height: 20px;
}

.social-media:hover{
  text-decoration: none;
}
